/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* header style  */
header {
    margin: 50px 140px;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
}
.half-width {
    width: 40%;
    color: white;
}
.half-width h1 {
    font-size: 70px;
    font-weight: 700;
}
.half-width p {
    padding-bottom: 20px;
}
.half-width a {
    background-color: #DD0000;
    color: white;
    text-decoration: none;
    padding: 16px 50px;
    border-radius: 5px;
}
.half-width img {
    width: 581px;
    height: 613px;
}

/* blogs styles */
main {
    margin: 50px 140px;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-row-gap: 24px;
}
.blog {
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    
}
.blog a {
    border: 1px solid #161616;
    border-radius: 5px;
    text-decoration: none;
    padding: 0 16px;
    color: black;
    font-weight: 700;
}
.blog-details {
    padding: 20px 20px;
}
.icon {
    display: flex;
    align-items: center;
}
.icon-div {
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.fa {
    color: rgb(167, 167, 167);
    font-size: 20px;
    padding-right: 15px;
}

/* footer styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-align: center;
    height: 444px;
    background-color: #161616;
}
footer h2 {
    font-size: 40px;
    font-weight: 700px;
}
hr {
    width: 80%;
    color: gray;
    background-color: antiquewhite;
}
footer > ul > li {
    display: inline;
    padding-right: 50px;
}
footer ul a, li {
    list-style: none;
    text-decoration: none;
    color: white;
    opacity: 0.8;
}
footer .fa {
    font-size: 30px;
    color: white;
    padding-right: 0px;
}